.appHeader {
  background-color: #222222;
  height: 50px;
  color: #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  width: 150px;
  margin-left: calc(50% - 75px);
  font-size: 30px;
  text-align: center;
}

.loggedOut {
  background-color: rgba(100, 0, 100, 0.75);
  color: #eeeeee;
  margin-top: calc(35vh - 100px);
  padding: 16px 0;
  max-width: 500px;
}

@media only screen and (max-width: 700px) {
  .desktopView {
    display: none;
  }
}

@media only screen and (min-width: 701px) {
  .mobileView {
    display: none;
  }
}
